.glider-next,
.glider-prev {
  opacity: 1;
  color: #343a40;
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.glider-next:focus,
.glider-prev:focus {
  opacity: 1;
  cursor: default;
  outline: none;
}

.glider-dots {
  margin: 0 50px;

  display: flex;
  align-items: center;
}

.glider-dot.active {
  background: transparent;
  border: 2px solid #333333;
}

.glider-slide {
  padding: 10px;
}
